
header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1em;
  }
  
  main {
    max-width: 80%;
    margin: 0 auto;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .cinh2, h3, h5 {
    color: #333;
  }
  
  h2 {
    border-bottom: 2px solid #333;
    padding-bottom: 5px;
    margin-top: 20px;
  }
  
  p {
    margin-bottom: 20px;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  li {
    margin-bottom: 10px;
  }
  

  
  /* Style for the knowledge section */
  .knowledge-section {
    background-color: #f8f8f8;
    padding: 20px;
    margin-top: 20px;
    border-radius: 5px;
  }
  
  .knowledge-section h3 {
    color: #4285f4;
    margin-bottom: 15px;
  }
  
  .knowledge-section p {
    line-height: 1.5;
  }
  

  