.login-background {
  background-image: url('C:\Users\User\Documents\GitHub\Green-Grow\frontend\src\assets\farmerlogin.jpg'); /* Update with the correct path */
  background-size: cover;
  background-position: center;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.login-form {
  background-color: rgba(195, 206, 194, 0.95);
  padding: 50px;
  border-radius: 20px;
  width: 450px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  font-family: 'Poppins', sans-serif;
  display: flex;
  flex-direction: column;

}

.login-form h3 {
  color: #333;
  margin-bottom: 30px;
  text-align: center;
  font-size: 36px;
}

.login-form label {
  color: #333;
  margin-bottom: 10px;
  font-size: 20px;
}

.login-form input[type="text"],
.login-form input[type="password"] {
  width: 100%;
  padding: 12px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  transition: border-color 0.3s;
  transition: input 0.3s;
}

.login-form input[type="text"]:focus,
.login-form input[type="password"]:focus {
  border-color: #7fac87;
}

.login-form .error {
  color: #e74c3c;
  font-size: 14px;
  margin-bottom: 15px;
}

.login-btn {
  background-color: #4f5b43;
  color: #ece7e7;
  border: none;
  padding: 15px 20px;
  cursor: pointer;
  width: 100%;
  border-radius: 5px;
  font-size: 25px;
  font-weight: 500;
  transition: background-color 0.3s;
}

.login-btn:hover {
  background-color: #5e712a;
}

@media (min-width: 768px) {
  .login-form {
    margin: 0 auto;
  }
}




